# fill out the necessary variables on the right hand side of the equals sign, 
# and then rename this file from ".env.example" to ".env"

# This variable sets the uWSGI port. It is set to the default HTTP port: 80
# when you run "docker compose up", go to localhost:EXPOSEPORT
# so if you keep EXPOSEPORT=80 then go to localhost:80 to visit the server
EXPOSEPORT=80

# these are the exposed ports for MYSQL and Flask respectively. 
# I have set them to their defaults, and you likely don't need to change them.
SQLPORT=3306
FLASKPORT=5000

# change all of these to customize and secure your MYSQL database
# WARNING: if there are any '$' symbols in your variables, an error may occur due 
# to the file trying to insert an environment variable rather than interpreting it as a literal character. 
MYSQL_DB=knights
MYSQL_TABLE=favorite_colors
MYSQL_ROOT_PASSWORD=SECURE_PASSWORD_HERE
MYSQL_USER=SELECT_ONLY_USER
MYSQL_PASSWORD=PASSWORD_FOR_SELECT_ONLY_USER